.listContainer {
    width: 100%;
    height: 100%;

    margin-top: 40px;

    display: flex;
    flex-direction: column;
}

.vehicleDatacontainer {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 10px 20px;

    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);

    border-radius: 16px;

    justify-content: space-between;
    padding: 20px;
}

.vehicleInformationsContainer {
    display: flex;
    flex-direction: column;
}

.vehicleActions {
    display: flex;
    flex-direction: column;
}

.actionButton {
    border: none;

    margin: 5px;

    border-radius: 8px;

    padding: 10px;

    background-color: royalblue;

    cursor: pointer;

    color: white;
}

.actionButton:hover {
    background-color: royalblue;
}

.actionButton:active {
    background-color: royalblue;
}